body {
  background-color: violet;
  height: 100vh;
  margin: 0;
}
h1 {
  font-size: 10px;
}

.grid-container {
  background-color: lime;
  height: 85vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.grid {
  background-color: silver;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  height: 600px;
  width: 600px;
}
.grid div {
  border: 1px solid lightblue;
  height: 10%;
  width: 5%;
  flex-grow: 1;
  box-sizing: border-box;
}
.player {
  background-color: indigo;
}
.missile {
  background-color:wheat
}
.alien {
  background-color: red;
}