body {
  background-color: black;
  color: white;
  height: 100vh;
  margin: 0;
  font-weight: 900;
  -webkit-text-stroke: 1px black;
  color: red;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1x 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
}



.menu {
  background-image: url('../Images/Doom-Eternal_Hellgate_Wallpaper_1280x720-01.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center;
}
#doomMenu {
  height: 20%;
  width: 20%;
  margin: 3% 40% 0 40%
}
.login {
  text-align: center;
  padding: 13% 0 0 0;
  color: red;
  font-size: 40px;
}
input[type=text] {
  background-color: rgba(51, 170, 51, 0);
  color: red;
  font-size: 40px;
  text-align: center;

}
#start {
  color: red;
  background-color: rgba(51, 170, 51, 0);
  font-size: 40px;
  margin: 20px 0 0 0
}


h1 {
  height: 25%;
  background-image: url('../Images/doom-logo.jpg');
  background-position: center;
  background-size: 500px 200px;
  background-repeat: no-repeat;
  margin: -20px 0;
}
.seperator {
 display: flex;
 justify-content: center;
 background-image: url('../Images/GridBackground.jpg'), url('../Images/BackgroundGrid2.jpg');
 background-position: 0% 0%, 100% 50%;
 background-size: 60% 100%, 60% 100%;
 background-repeat: no-repeat, no-repeat;
}
.displayInfo {
  height: 600px;
  width: 300px;
  border: 5px solid silver;
  background-image: url('../Images/BackgroundWall.png');
  background-size: 200px;
}
#currentScore {
  height: 130px;
  font-size: 40px;
  text-align: center;
  margin: 30px 0 0 0;
  color: tomato;
}
#healthRemaining {
  height: 100px;
  margin: 0 0 0 0;
  font-size: 40px;
  text-align: center;
  color: tomato;
}
.faceImage {
  background-image: url('../Images/Doomguy100.gif');
  background-size: 60% 70%;
  background-repeat: no-repeat;
  background-position: center;
  height: 340px;
  margin: 0 0 0 0;
}
.doomFace75 {
  background-image: url('../Images/DoomGuy75.gif');
  background-size: 60% 70%;
  background-repeat: no-repeat;
  background-position: center;
  height: 340px;
  margin: 0 0 0 0;
}
.doomFace50 {
  background-image: url('../Images/DoomGuy50.gif');
  background-size: 60% 70%;
  background-repeat: no-repeat;
  background-position: center;
  height: 340px;
  margin: 0 0 0 0;
}
.doomFace25 {
  background-image: url('../Images/DoomGuy25.gif');
  background-size: 60% 70%;
  background-repeat: no-repeat;
  background-position: center;
  height: 340px;
  margin: 0 0 0 0;
}
.doomFace0 {
  background-image: url('../Images/DoomGuy0.png');
  background-size: 60% 70%;
  background-repeat: no-repeat;
  background-position: center;
  height: 340px;
  margin: 0 0 0 0;
}


.grid-container {
  height: 50vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.grid {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 5px solid silver;
  
  height: 600px;
  width: 600px;
}
.grid div {
  height: 10%;
  width: 5%;
  flex-grow: 1;
  box-sizing: border-box;
  font-size: 0px;
}
.player {
  background-color: black;
  background-image: url('../Images/TestPlayerModel.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35px 50px;
}
.missile {
  background-image: url('../Images/Gunfire.png');
  background-position: right top;
  background-size: 20px 30px;
  background-repeat: no-repeat;
}
.bomb {
  background-image: url('../Images/Fireball2.gif');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}
.alien {
  background-image: url('../Images/BasicCacoGif.gif');
  background-position: top;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}
.alien.bomb {
  background-image: url('../Images/BasicCacoGif.gif'), url('../Images/Fireball2.gif');
  background-position: top, bottom;
  background-size: 30px 30px, 50px 50px;
}
.alien.missile {
  background-image: url('../Images/CacoDeathGif.gif');
  background-position: top;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}
.player.bomb {
  background-image: url('../Images/TestPlayerModel.png'), url('../Images/Fireball2.gif');
  background-position: center, bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 35px 50px, 50px 50px;
}
.missile.bomb {
  background-image: url('../Images/Fireball2.gif'), url('../Images/Gunfire.png');
  background-position: bottom, right top;
  background-repeat: no-repeat, no-repeat;
  background-size: 50px 50px, 20px 30px;
}


.mainScreen {
  background-image: url('https://hyperpix.net/wp-content/uploads/2019/09/doom-logo-font-download.jpg');
}

.gridCell {
  font-size: 0px;
}
.hidden {
  display: none;
}
.finalScore {
  background-color: violet;
  height: 300px;
  width: 200px;
}